.button {
    background-color: #f3dcdc;
    color: black;
    border: rgb(194, 194, 218); 
    padding: 15px 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
   
    }